@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
}
body {
  background-color: hsl(209, 100%, 85%);

  font-size: 13px;
}
.container {
  padding-block: 2em;
  display: grid;
  gap: 1.5rem;
  width: min(95%, 70rem);
  margin-inline: auto;
}
@media (min-width: 50em) {
  .grid-col-span-2 {
    grid-column: span 2;
  }
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
  article:nth-child(5) {
    grid-column-start: 4;
    grid-row: 1 / span 2;
  }
}
img {
  border-radius: 50%;
  border: 2px solid white;
  height: 32px;
}
article {
  border-radius: 10px;
  padding: 1rem;
}
.person-info {
  display: flex;
  gap: 15px;
}
.name {
  height: 50px;
}
.name p:last-child {
  opacity: 0.5;
}

article:nth-child(1) {
  background-color: hsl(263, 55%, 52%);
  color: white;
}
article:nth-child(2) {
  background-color: hsl(217, 19%, 35%);
  color: white;
}
article:nth-child(4) {
  background-color: hsl(219, 29%, 14%);
  color: white;
}

article {
  background-color: hsl(0, 0%, 100%);
}
.comment {
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.quote {
  margin-top: 12px;
  line-height: 1rem;
  opacity: 0.5;
}
